.mynav {
    position: absolute;
    top: 30px;
    z-index: 10;
    width: 100%;
}

.mynav a{
    color:white;
}

.mynav a:hover {
    color: burlywood;
    transition: color 0.3s ease;
}

.mynav .fa {
    color: white;
    padding: 10px;
}

.mynav .fa:hover {
    color: burlywood;
    transition: color 0.3s ease;
}

.myc {
    top: 0;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

/* .carousel-indicators li { 
    background-image: url(/img/02.svg);
    display: block;
    width: 15px;
    height: 15px;
    margin: 1px;
}*/

.container{
    display: flex;
    justify-content: center;
}

.container h3 {
    position: absolute;
    top: 30%;
    align-self: center;
    z-index: 10;
    color: white;
}

.container h2 {
    position: absolute;
    top: 35%;
    align-self: center;
    z-index: 10;
    color: white;
}

.container p {
    position: absolute;
    top: 40%;
    align-self: center;
    text-align: center;
    z-index: 10;
    color: white;
    width: 35%;
    font-size: 14px;
}

.container button {
    position: absolute;
    top: 50%;
    align-self: center;
    z-index: 10;
    background-color: rgb(161, 136, 103);
    color: white;
    border: none;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.container button:hover {
    transform: translateY(-5px);
    background-color: rgb(117, 94, 84);
    transition: all 0.3s ease;
}

.container .logo {
    position: absolute;
    top: 25px;
    left: 10%;
    z-index: 10;
    font-size: 25px;
    color: white;
}

.container .logo:hover { 
    /*color: burlywood;*/
    text-decoration: none;
    /*transition: color 0.3s ease;*/
}

.realization h5 {
    color: white;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
}



.options figure .pen {
    background-image: url("img/pen.png");
    display: block;
    width: 50px;
    height: 50px;
    margin: 15px auto;
}

.options figure .stack {
    background-image: url("img/stack2.png");
    background-repeat: no-repeat;
    display: block;
    color: #555555;
    width: 50px;
    height: 50px;
    margin: 15px auto;
}

.options figure .fa {
    display: block;
    color: #555555;
    width: 50px;
    height: 50px;
    margin: 15px auto;
}

.options figure .case {
    background-image: url(img/case.png);
    background-repeat: no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    margin: 15px auto;
}

.options figure figcaption {
    color: #555555;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.options figure p {  
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}


.options figure:after { 
    content: "";
    display: block;
    border: 1px solid #f1eee9;
    background-color: #f1eee9;
    position: absolute;
    width: 70px;
    height: 1px;
    /* left: 10px; */
    margin-left: 105px;
}
  
.options figure:hover:after {
    border: 1px solid #c7b299;
    background-color: #c7b299;
}

.options figure:hover {
    cursor: pointer;
}

.options figure:hover i {
    color: #c7b299;
}

.options figure:hover figcaption {
    color: #c7b299;
}

.purchase {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.purchase h5 {
    align-self: center;
}

.purchase p {
    align-self: center;
    text-align: center;
    width: 50%;
    color: #c7b299;
    font-size: 14px;
}

.purchase img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.mwpt {
    display: flex;
    justify-content: space-around;
    background-color: #1a1107;
    color: white;
    padding: 20px;
}

.mwpt .wax {
    color: #8f724e;
}

.mwpt button {
    width: 150px;
    height: 50px;
    color: white;
    background-color: rgb(129, 112, 89);
    border: 1 solid burlywood; 
}

.mwpt button:hover {
    background-color: rgb(71, 54, 47);
    transition: all 0.3s ease;
}


.projects h3 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.projects p {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
}

.projmenu {
    display: flex;
    justify-content: center ;
  }

.projmenu a {
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    color: #8c8c8c;
    border: 1px solid #8c8c8c;
}

.projmenu a:hover {
    background-color: rgb(155, 113, 58);
    transition: background-color 0.3s ease;
}

.projbox {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 300px;
    border: 1px solid black;
    margin: 40px;
}

.projbox img {
    width: 100%;
    height: 100%;
}

.projbox img:hover {
    cursor: pointer;
}

.prjbutt {
    display: flex;
    justify-content: center;
}

.prjbutt button {
    background-color: #998675; 
    color: white;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 30px;
}

.prjbutt button:hover {
    transform: translateY(-5px);
    background-color: rgb(155, 113, 58);
    transition: background-color 0.3s ease;
}

.videobox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.videobox video {
    width: 100%;
}

.videobox video[poster] {
    width:100%;
    }

.videobox h5 {
    position: absolute;
    top: 43%;
    align-self: center;
    z-index: 10;
    color:white;
}

.videobox p {
    position: absolute;
    top: 50%;
    align-self: center;
    text-align: center;
    z-index: 10;
    color: white;
    width: 50%;
}

.excelent {
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
}

.ex_list  h3 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #8c8c8c;
}

.exdetsumm {
    margin-left: 20px;
}

.stat {
    display: flex;
    justify-content: space-around;
    background-color: #412503;
    color: white;
}

.stat h5 {
    color: #412503;
}

.stat figure {
    justify-content: center;
    padding: 50px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.stat img {
    width: 35%;
}

.stat figcaption .fc{
    /* font-family: Montserrat; */
    font-size: 48px;
    font-weight: 100;
}

.stat figure::after {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    left: 45%;
    margin-top: 30px;
}

.recent {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
}

.recent h2 {
    align-self: center;
}

.recent .rc {
    align-self: center;
    text-align: center;
    width: 50%;
    padding-bottom: 30px;
}

.recent .fb {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.fb i {
    padding: 5px;
    cursor: pointer;
}

.rec_fig {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
}

.rec_fig figure {
    width: 25%;
    background-color: white;
    padding: 5px;
}

.rec_fig figure:hover {
    background-color: rgb(121, 102, 86);
    transition: background-color 0.5s ease-in-out;
}

.rec_fig figcaption {
    font-size: 20px;
}

.rec_fig .rft {
    font-size: 14px;
    /* line-height: 50%; */
}

.rec_fig a {
    display: block;
    font-family: Montserrat;
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: none;
}

.rec_fig a::after {
    content: "";
	display: block;
	width: 0;
	height: 0;
	border: 9px solid transparent;
	border-left: 11px solid grey;
    float: right;
    padding-right: 65%;
}

.recent img {
    width: 100%;
}

.grid_test {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px;
    grid-template-rows: 100px;
    grid-column-gap: 50px;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
}

.gti {
    /* border: 1px solid black; */
    text-align: center;
}

.gti a {
    display: block;
    font-family: Montserrat;
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: none;
}

.gti a::after {
    content: "";
	display: block;
	width: 0;
	height: 0;
	border: 9px solid transparent;
	border-left: 11px solid grey;
    float: right;
    padding-right: 70%;
}

.gti img {
    width: 97%;
    padding-top: 3%;
}


.gti figcaption {
    text-align: left;
}

.gti figure:hover {
    background-color: rgb(121, 102, 86);
    transition: background-color 0.5s ease-in-out;
}

.gti-1 {
    grid-column: 1 / 4;
    text-align: center;
}

.gtfb {
    text-align: center;
}

.total {
    display: flex;
    justify-content: space-around;
    color: #545454;
    background-color: rgb(23, 25, 29);
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 150px;
    padding-top: 100px;

}

.total h4 {
    color: white;
}

.total .logo {
    display: flex;
    color: white;
    text-decoration: none;
    margin-bottom: 30px;
}

.total .logo h3 {
    padding-bottom: 25px;
}

.total .logo img {
    padding-bottom: 25px;
}

.total_item {
    color: #545454;
    width: 20%;
    padding: 5px;
}

.total_item .rm {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.total_item .pw {
    color: white;
}

.total_item .sw {
    color: wheat;
}

.total_item .blt {
    color: #7a7971;
}

.total_item .rm::after {
    content: "";
	display: block;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-left: 7px solid grey;
    float: right;
    padding-right: 50%;
    padding-top: 1%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #111111;
    padding: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: Montserrat;
    color: #545454;
    font-size: 14px;
    line-height: 10px;
}

.copyright a {
    color: #545454;
    text-decoration: none;
    padding: 10px;
    border-left: 1px solid #545454;
    /* line-height: 10px; */
}

.copyright span {
    color: #7a7971;
    padding-right: 20px;
}

.copyright .faq {
    color: wheat;
}

.design a {
    color: #7a7971;
    text-decoration: none;
}

.design span {
    padding: 10px;
}

.design .tf {
    border-right: 1px solid #545454;
}