.mynav {
    position: absolute;
    top: 30px;
    z-index: 10;
    width: 100%;
}

.mynav .nav-item a{
    color:greenyellow;
}

.mynav .nav-item .fa {
    color: greenyellow;
    padding: 10px;
}

.myc {
    top: 0;
}

.container h3 {
    position: absolute;
    top: 34%;
    left: 34%;
    z-index: 10;
    color: greenyellow;
}

.realization h5 {
    display: flex;
    justify-content: center;
}
.projects h5 {
    display: flex;
    justify-content: center;
}

.projbox {
    height: 200px;
    border: 1px solid black;
}

.videobox {
    padding: 20px;
    position: relative;
}

.videobox video {
    width: 100%;
}

.videobox h5 {
    position: absolute;
    top: 43%;
    left: 43%;
    color: white;
}